<div class="center hero-unit">
  <h1>Welcome to Ralphs List!</h1>

  <h2>
    This is the home page for Ralphs List
  </h2>



  <%= link_to "Sign up now!", '#', class: "btn btn-large btn-primary" %>
</div>

<table>
  <tr>
    <th>Title &nbsp; &nbsp; &nbsp;</th>
    <th>Author</th>
    <th>Condition</th>
    <th>Price</th>
  </tr>

   <% @books.each do |book| %>

  <tr>
    <td><%= book.title %></td>
    <td><%= book.author %></td>
    <td><%= book.condition %></td>
    <td><%= book.price %></td>
  </tr>

  <% end %>

</table>

<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>