<div class="center hero-unit">
  <h1>Sign Up for Ralphs List!</h1>

  <h2>
    This is the Sign Up page for Ralphs List
  </h2>


</div>

<h3> Sign Up </h3>

<%= form_tag '/ralphs_list/signup' do %>

  <%= label :user, :name, 'First Name' %>
  <%= text_field :user, :name %>

  <%= label :user, :gender, 'Gender' %>
  <%= select :user, :gender, ['Female', 'Male', 'IDK'] %>

  <%= label :user, :email, 'Email Address' %>
  <%= text_field :user, :email %>

  <%= label :user, :password, 'Password' %>
  <%= text_field :user, :password %>

  <%= label :user, :password2, 'Confirm Password' %>
  <%= text_field :user, :password2 %>

  <%= submit_tag 'Create Account' %>

<% end %>

<%= link_to "Cancel", '/ralphs_list/home', class: "btn btn-large btn-primary" %>
